    <footer class="site-footer">
        <div class="inner">
            {{> footer-social}}
            <section class="copyright">&copy; {{date format="%Y"}} <a href="{{url}}">{{@settings.title}}</a>. All rights reserved</section>
            <section><a href="https://github.com/postleaf/steam">Steam theme</a> for <a href="https://www.postleaf.org/">Postleaf</a></section>
        </div>
    </footer>

    {{postleaf_foot}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="{{theme_url "assets/js/index.js"}}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/smooth-scroll/9.1.2/js/smooth-scroll.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>

    <script>
        smoothScroll.init({
            speed: 800,
            easing: 'easeInOutCubic',
            updateURL: false,
            offset: 125,
        });
    </script>
    <script>hljs.initHighlightingOnLoad();</script>

</body>
</html>