<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {{#if @request.homepage}}
      <title>{{@meta.title}} - {{@meta.description}}</title>
    {{else}}
      <title>{{@meta.title}}</title>
    {{/if}}

    <meta name="description" content="{{@meta.description}}">
    <meta name="apple-mobile-web-app-title" content="{{@meta.title}}">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon" href="{{@settings.favicon}}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">

    {{> theme-red}}
    {{!> theme-blue}}
    {{!> theme-red}}
    {{!> theme-orange}}
    {{!> theme-customcolor}}

    <link rel="stylesheet" href="{{theme_url "assets/css/screen.css"}}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?subset=latin,cyrillic-ext,latin-ext,cyrillic&family=Open+Sans+Condensed:300|Open+Sans:400,600,400italic,600italic|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
    <link rel="stylesheet" href="{{theme_url "assets/css/github.css"}}">
    {{#if pagination.next_page_url}}<link href="{{pagination.next_page_url}}" rel="prefetch">{{/if}}

    {{postleaf_head}}
</head>
<body class="{{body_class}}">

    <header id="site-head">
        <h1 class="blog-title"><a href="{{url}}">{{@settings.title}}</a></h1>
        <h1 class="blog-subtitle">{{@settings.tagline}}</h1>
    </header>

    {{> navigation}}